* 
	font-family: 'Roboto', sans-serif 
header 
	position: relative 
nav 
	height: 50px 
	background-color: #212121 
a 
	text-decoration: none 
.menu 
	display: flex 
	justify-content: space-between 
	padding: 13px 70px 
	margin: 0 
	list-style-type: n one 
	.menu_link 
		color: #ffffff 
		font-size: 15px 
		font-weight: 300 
	.menu_item 
		border-right: 2px dotted black 
		padding-right: 28px 
.subheader 
	position: absolute 
	width: 100% 
	height: 87px 
	background-color: rgba(0, 0, 0, .6) 
	.subheader_logo 
		display: block 
		max-width: 100% 
		margin-top: 16px 
	.subheader_official 
		margin-top: 6px 
		color: #FFF 
		font-size: 13px 
		font-style: normal 
		font-weight: 100 
		opacity: .5 
	.subheader_call 
		margin-top: 22px 
		color: #FFF 
		text-align: right 
		font-size: 12px 
		font-weight: 300 
	.subheader_phone 
		display: block 
		margin-top: 8px 
		color: #FFF 
		text-align: right 
		font-size: 22px 
		font-weight: 400 
		text-transform: uppercase 
		line-height: 12px 
	.subheader_btn 
		margin-top: 22px 
		width: 172px 
		height: 46px 
		border-radius: 4px 
		border: none 
		box-shadow: 0px -3px 0px 0px rgba(0, 0, 0, 0.12) 
		background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%) 
		color: #FFF 
		text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21) 
		font-size: 14px 
		font-weight: 400 
		text-transform: uppercase 
.promo 
	min-height: 800px 
	background: url('/src/images/uber_bg.png') center center/cover no-repeat 
	padding: 150px 0 135px 0 
	.promo_header 
		color: #FFF 
		font-size: 60px 
		font-weight: 700 
		text-transform: uppercase 
		text-align: center 
		line-height: 60px 
		margin: 0 
	.promo_subheader 
		color: #FFF 
		font-size: 36px 
		font-weight: 700 
		text-transform: uppercase 
		text-align: center 
		line-height: 30px 
		margin: 0 
		margin-top: 22px 
	.promo_descr 
		color: #FFF 
		font-size: 19px 
		font-weight: 400 
		line-height: 24px 
		text-align: center 
		margin-top: 23px 
	.promo_btn 
		display: block 
		margin: 118px auto 0 auto 
		width: 259px 
		height: 63px 
		border: none 
		border-radius: 4px 
		background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%) 
		box-shadow: 0px -4px 0px 0px rgba(0, 0, 0, 0.12) inset 
		color: #FFF 
		text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21) 
		font-size: 18px 
		font-weight: 400 
		text-transform: uppercase 
.reasons 
	padding: 20px 0 65px 0 
	.reasons_block 
		display: flex 
		justify-self: center 
		align-items: center 
		margin-top: 35px 
		.reasons_round 
			display: flex 
			justify-content: center 
			align-items: center 
			margin-left: 26px 
			width: 113px 
			height: 113px 
			border-radius: 100% 
			background-color: #1EACC7 
		.reasons_descr 
			width: 343px 
			margin-left: 25px 
	.reasons_descr 
		.reasons_subtitle 
			color: #1EACC7 
			font-size: 17px 
			font-weight: 400 
			line-height: 21px 
		.reasons_text 
			color: #202020 
			font-size: 15px 
			font-weight: 300 
			line-height: 21px 
.label 
	margin: 0 auto 
	background-color: #000 
	width: 113px 
	height: 24px 
	color: #FFF 
	text-align: center 
	font-size: 11px 
	text-transform: uppercase 
	padding: 5px 12px 
.title 
	margin-top: 33px 
	margin-bottom: 0 
	color: #222 
	font-size: 38px 
	font-weight: 700 
	text-transform: uppercase 
	text-align: center 
